html, body{height:100%;}

/*.top {
	margin-bottom: 60px;
}*/

.top_placeholder{
	height: 60px;
}

.wrapper{
	min-height:100%;
	_height:100%;
	/*margin-top:60px;*/
	margin-bottom:-51px;
}

.footer{
	position: relative;
	clear:both;
}

.footer, .footer_placeholder{height: 51px;}

.soften{
	margin-top: 10px;
	margin-bottom: 10px
}

